/*
 * Author by FreeHTML5.co
 * Twitter: https://twitter.com/fh5co
 * Facebook: https://fb.com/fh5co
 * URL: https://freehtml5.co
 */


/* Fonts */

@font-face {
    font-family: 'Prompt-Regular';
    src: url(../fonts/Prompt-Regular.ttf);
}

@font-face {
    font-family: 'Prompt-Bold';
    src: url(../fonts/Prompt-Bold.ttf);
}

@font-face {
    font-family: 'Prompt-Light';
    src: url(../fonts/Prompt-Light.ttf);
}

@font-face {
    font-family: 'Prompt-Italic';
    src: url(../fonts/Prompt-Italic.ttf);
}


/* Colors */


/* Universal style */

html {
    scroll-behavior: smooth;
    transition: 1s ease;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Prompt-Regular";
}

body {
    /* background: #000 !important; */
    background-image: url('../images/textura.png');
    background-repeat: repeat;
}

.body2 {
    background-image: url('../images/textura2.png') !important;
    background-repeat: repeat !important;
}

.site-container {
    width: 1115px;
    margin: 0 auto;
}

@media (max-width: 1250px) {
    .site-container {
        width: 90%;
    }
}

.universal-h2 {
    font-size: 48px;
    text-align: center;
    color: #222;
}

@media (max-width: 1250px) {
    .universal-h2 {
        font-size: 38px;
    }
}

@media (max-width: 668px) {
    .universal-h2 {
        font-size: 30px;
    }
}

.universal-h2-bckg {
    background-image: url("../images/double-line.svg");
    background-repeat: no-repeat;
    background-position: center bottom;
}


/* Universal style end */


/* Includes */

.site-navigation {
    position: absolute;
    top: 4.6%;
    width: 100%;
    z-index: 2;
}

.site-navigation-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-navigation {
    color: #fff;
    display: none;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0px;
    left: 0px;
    background: #000;
    opacity: 0.9;
}

.main-navigation .main-navigation__ul {
    padding: 3%;
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 50pt;
    font-family: 'Prompt-Regular';
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5)
}

.main-navigation .main-navigation__ul li {
    margin-bottom: 20px;
    list-style: none;
}

.main-navigation .main-navigation__ul a {
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    text-transform: uppercase;
    transition: 0.3s ease;
}

.main-navigation .main-navigation__ul a:hover {
    color: #777;
}

@media (max-width: 1150px) {
    .main-navigation {
        opacity: 0.94;
    }
}


/* Menu dinamico */

.nav-dic {
    position: absolute;
    left: 0%;
    top: 30%;
    color: #fff;
    z-index: 200;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.nav-dic>.nav-div {
    text-decoration: none;
    background-color: transparent;
    padding: 20px;
    font-size: 15pt;
    list-style: none;
    margin: 3px 0;
    border-radius: 0 5px 5px 0;
}

.nav-dic>div>a {
    color: #fff;
    display: inline-block;
    text-decoration: none;
}


/* .nav-dic__ul>li>a .nav-item {
    display: none;
} */

.nav-item-1,
.nav-item-2,
.nav-item-3,
.nav-item-4 {
    display: none;
}

.nav-dic>div>a:hover {
    cursor: pointer;
}


/* Navigation burger */

.burger-container {
    cursor: pointer;
    z-index: 3;
}

.bar1,
.bar2,
.bar3 {
    width: 30px;
    height: 3px;
    background-color: #5830FF;
    margin: 6px 0;
    transition: 0.4s;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-6px, 6px);
    background-color: #5830FF;
}

.change .bar2 {
    opacity: 0;
    background-color: #5830FF;
}

.change .bar3 {
    transform: rotate(45deg) translate(-6px, -7px);
    background-color: #5830FF;
}

.stop-scroll {
    overflow: hidden;
}


/* Navigation burger end */

.fh5co-top-banner {
    position: relative;
    display: flex;
    align-items: flex-end;
    background-image: url("../images/top-banner-bckg.jpg");
    background-position: center;
    background-size: cover;
    height: 600px;
}

.fh5co-top-banner::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
}

.fh5co-top-banner .site-container {
    position: relative;
    z-index: 1;
}

@media (max-width: 1600px) {
    .fh5co-top-banner {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}

@media (max-width: 1250px) {
    .fh5co-top-banner {
        padding-top: 100px;
    }
}

@media (max-width: 800px) {
    .titulo-pag-main {
        position: relative;
    }
    #top-banner {
        overflow: hidden !important;
    }
}

@media (max-width: 520px) {
    .fh5co-top-banner {
        padding-top: 105px;
    }
}

@media (min-width: 1600px) {
    .fh5co-top-banner {
        min-height: 100vh;
    }
}

.top-banner__inner {
    display: flex;
    align-items: center;
}

.top-banner__inner .top-banner__text {
    margin-left: 54px;
}

.top-banner__text {
    overflow: hidden;
}

@keyframes titulos-in {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0%);
    }
}

@keyframes titulos-out {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(-100%);
    }
}

@media (max-width: 1250px) {
    .top-banner__inner .top-banner__text {
        width: 35%;
    }
}

@media (max-width: 768px) {
    .top-banner__inner .top-banner__text {
        width: 50%;
        margin-left: 20px;
    }
}

@media (max-width: 520px) {
    .top-banner__inner .top-banner__text {
        width: 70%;
        margin-bottom: -190px;
        margin-left: 0;
    }
}

.top-banner__inner .top-banner__text p {
    margin-bottom: 42px;
    color: #777;
}

@media (max-width: 768px) {
    .top-banner__inner .top-banner__text p {
        margin-bottom: 25px;
        font-size: 14px;
    }
}

.top-banner__inner .top-banner__h2 {
    font-size: 74px;
    letter-spacing: 3px;
    color: #fff;
    font-family: "Prompt-Bold";
}

.top-banner__inner .top-banner__h2:hover {
    font-size: 76px;
    transition: 1s ease-in-out;
}

@media (max-width: 1250px) {
    .top-banner__inner .top-banner__h2 {
        font-size: 50px;
    }
}

@media (max-width: 768px) {
    .top-banner__inner .top-banner__h2 {
        font-size: 35px;
    }
}

.top-banner__inner .top-banner__text-up .top-banner__h2 {
    margin-top: 15px;
}

@media (max-width: 768px) {
    .top-banner__inner .top-banner__text-up .top-banner__h2 {
        margin-top: 0;
    }
}

.top-banner__inner .top-banner__text-down {
    margin-bottom: 20px;
    padding-left: 27%;
    text-align: right;
}

.top-banner__inner .top-banner__text-down .top-banner__h2 {
    margin-bottom: 10px;
    text-align: right;
}

@media (max-width: 768px) {
    .top-banner__inner .top-banner__text-down .top-banner__h2 {
        margin-bottom: 0;
    }
}

.top-banner__inner .top-banner__image {
    font-size: 0;
    width: 55%;
}

.top-banner__image {
    display: flex;
}

.top-banner__image>div {
    align-self: flex-end;
    margin-left: 15%;
}

.top-banner__image .btn-empezar,
.top-banner__image .btn-contacto {
    position: relative;
    font-family: 'Prompt-Regular';
    border: 1px #fff solid;
    border-radius: 10px;
    background-color: transparent;
    padding: 10px 20px;
    font-size: medium;
    color: #fff;
    margin: 5px;
    display: inline-block;
    text-align: center;
}

.cont-btn-arriba {
    border: 1px solid #5830FF;
    border-radius: 50%;
    background-color: transparent;
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 3;
    width: 50px;
    height: 50px;
    display: flex;
}

.btn-arriba {
    clip-path: polygon(20% 100%, 20% 55%, 0 55%, 51% 0, 100% 55%, 80% 55%, 80% 100%);
    background-color: #5830FF;
    display: block;
    text-decoration: none;
    width: 35px;
    height: 35px;
    margin: auto;
    align-self: center;
}

.top-banner__image .btn-empezar:hover,
.top-banner__image .btn-contacto:hover {
    position: relative;
    font-family: 'Prompt-Regular';
    border: 1px #fff solid;
    border-radius: 10px;
    background-color: #fff;
    padding: 10px 20px;
    font-size: medium;
    color: #000;
    margin: 5px;
    cursor: pointer;
    transition: 0.7s;
    text-decoration: none;
    font-size: 13pt;
}

@media (max-width: 1250px) {
    .top-banner__inner .top-banner__image {
        width: 50%;
    }
    .top-banner__inner .top-banner__image img {
        width: 100%;
    }
}

@media (max-width: 520px) {
    .top-banner__inner .top-banner__image {
        width: 65%;
        margin: 20px auto;
    }
}

@media (max-width: 520px) {
    .top-banner__inner {
        flex-direction: column;
    }
}

.brand-span {
    font-size: 14px;
    color: #5830FF;
}

.brand-button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 11px;
    text-transform: uppercase;
    text-decoration: none;
    color: #5830FF;
    border: 1px solid #fff;
    transition: 0.3s ease;
}

.brand-button:hover,
.brand-button:focus {
    color: #777;
}

.about-me-single-slide {
    overflow: hidden;
}

.universal-h2-bckg,
.text-about {
    position: relative;
}

.fh5co-about-me {
    position: relative;
    margin: 100px 0;
}

.about-me__profile {
    height: 400px;
}

@media (max-width: 1250px) {
    .fh5co-about-me {
        margin: 100px 0;
    }
}

@media (max-width: 992px) {
    .fh5co-about-me {
        margin: 100px 0;
    }
}

.about-me-bckg {
    position: absolute;
    /* background-image: url("../images/about-me-bckg.jpg"); */
    background-position: center;
    background-size: cover;
    height: 500px;
    top: -75px;
    right: 0;
    height: calc(100% + 150px);
    width: 70%;
    z-index: -1;
}

.about-me-bckg:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.7;
}

@media (max-width: 992px) {
    .about-me-bckg {
        width: 100%;
        padding-bottom: 15px;
    }
}

.about-me-inner {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 992px) {
    .about-me-inner {
        flex-direction: column;
        align-items: center;
    }
}

.about-me-slider {
    position: relative;
}

.about-me-slider .slick-arrow {
    position: absolute;
    bottom: -18%;
}

.about-me-slider .slick-prev {
    left: 40%;
}

@media (max-width: 520px) {
    .about-me-slider .slick-prev {
        left: 34%;
    }
}

.about-me-slider .slick-next {
    right: 40%;
}

@media (max-width: 520px) {
    .about-me-slider .slick-next {
        right: 34%;
    }
}


/* Habilidades */

#skill-bars {
    /* background-color: #000; */
    overflow: hidden;
    width: 100%;
}

.skill-bar-holder {
    border: 1px #5830FF solid;
    border-radius: 10px;
}

.skill-capacity {
    height: 30px;
    /* background: linear-gradient(90deg, rgba(88, 48, 255, 1) 59%, rgba(122, 156, 255, 1) 100%); */
    background-color: #5830FF;
    border-radius: 8px;
}

.skill-capacity:hover {
    background: linear-gradient(90deg, rgba(88, 48, 255, 1) 40%, rgba(122, 156, 255, 1) 100%);
    transition: 1s ease-in;
}

.skills-ul>li {
    list-style: none;
}

.skills-porcent {
    display: inline-block;
    float: right;
}

.cont-title-skill {
    overflow: hidden;
}

.title-skill {
    margin: auto;
}

@media (max-width: 800px) {
    #skill-bars {
        overflow: hidden !important;
    }
}


/* Fin habilidades */

.span-arrow {
    padding: 10px 15px;
    cursor: pointer;
    color: #5830FF;
    border: 1px solid #5830FF;
    border-radius: 50%;
    transition: 0.3s ease;
}

.span-arrow:hover {
    color: #fff;
    border-color: #fff;
}


/* PORTAFOLIO */

.portafolio-inner {
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
    overflow: hidden;
    margin: 10px auto !important;
}

.top-portafolio__h2 {
    font-size: 94px;
    letter-spacing: 3px;
    color: #fff;
    font-family: "Prompt-Bold";
    position: relative;
}

@media (max-width: 800px) {
    .top-portafolio__h2 {
        font-size: 54px;
    }
    .btn-portafolio {
        margin-left: 25% !important;
    }
    #top-pag-portafolio {
        height: auto !important;
        overflow: hidden;
    }
    .top-banner__inner .top-banner__text {
        margin: 0;
    }
    .top-banner__inner .top-banner__text {
        width: 95%;
        margin: auto;
    }
    .top-banner__inner .top-banner__text-up .top-banner__h2 {
        font-size: 40pt !important;
        text-align: center;
    }
    .nav-dic {
        display: none;
    }
    .top-banner__image>div {
        margin: 0;
        display: inherit;
    }
    .main-navigation .main-navigation__ul a {
        font-size: 30pt;
        z-index: 10;
    }
    .container-item-porta {
        width: auto !important;
        margin: 0 !important;
    }
    .item-porta {
        display: flex;
        flex-wrap: wrap;
    }
    .item-porta .text-item-porta>h4 {
        font-size: 65px !important;
        text-align: center;
    }
    .item-porta .text-item-porta>p {
        margin: 10px auto !important;
    }
    .btn-item-porta {
        width: auto !important;
    }
    .item-porta .text-item-porta {
        z-index: 0 !important;
    }
}

.top-portafolio__h2:hover {
    font-size: 96px;
}

.portafolio_image {
    width: 100%;
    z-index: 10;
}

.portafolio_image:hover {
    width: 103%;
    transition: 1s ease-in-out;
}

.banner-portafolio {
    padding: 30px;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-self: center;
    transition: 0.5s ease;
}

.btn-portafolio {
    justify-content: right;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    background-color: #000;
    position: relative;
    margin-left: 70%;
    display: block;
    text-decoration: none;
}

.btn-portafolio:hover {
    background-color: #fff;
    color: #000;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    text-decoration: none;
}


/* FIN PORTAFOLIO */

.about-me__text {
    width: 44%;
    margin-right: 80px;
    text-align: center;
}

.about-me__text .universal-h2 {
    color: #FFF;
    padding-bottom: 20px;
    margin-bottom: 25px;
}

.about-me__text p {
    margin-bottom: 35px;
    line-height: 24px;
    color: #FFF;
}

.about-me__text p span {
    font-size: 48px;
    color: #5830FF;
}

@media (max-width: 620px) {
    .about-me__text p {
        margin-bottom: 20px;
        font-size: 14px;
        line-height: 19px;
    }
}

.about-me__text h4 {
    margin-bottom: 7px;
    font-size: 25px;
    color: #5830FF;
}

.about-me__text .p-white {
    margin-bottom: 0;
    color: #fff;
}

@media (max-width: 1250px) {
    .about-me__text {
        width: 48%;
        margin-right: 40px;
    }
}

@media (max-width: 992px) {
    .about-me__text {
        width: 100%;
        margin-right: 0;
    }
}

.slick-slide:focus {
    outline: none;
}

.fh5co-books {
    margin-bottom: 122px;
}

.fh5co-books .universal-h2 {
    margin-bottom: 50px;
    padding-bottom: 20px;
}

.fh5co-books .books-brand-button {
    text-align: center;
}

.fh5co-books .books-brand-button .brand-button {
    font-size: 16px;
    text-transform: none;
    border-color: #5830FF;
}

.fh5co-books .books-brand-button .brand-button:hover {
    border-color: #777;
}

@media (max-width: 1250px) {
    .fh5co-books {
        margin-bottom: 60px;
    }
}

.books {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 70px;
}

@media (max-width: 559px) {
    .books {
        justify-content: space-around;
    }
}

.single-book {
    margin-bottom: 20px;
    text-align: center;
}

.single-book .single-book__img {
    position: relative;
    display: block;
    font-size: 0;
}

.single-book .single-book__img .single-book_download {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    transition: 0.3s ease;
}

.single-book .single-book__img .single-book_download img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.single-book .single-book__img:hover .single-book_download {
    visibility: visible;
    opacity: 0.7;
}

.single-book .single-book__title {
    margin: 19px 0 18px;
    font-size: 18px;
}

.single-book .single-book__price {
    font-size: 18px;
    font-weight: 600;
    font-style: italic;
    color: #5830FF;
}

@media (max-width: 1250px) {
    .single-book {
        margin-right: 10px;
    }
    .single-book:last-child {
        margin-right: 0;
    }
}

.rating {
    margin-top: 8px;
    unicode-bidi: bidi-override;
    direction: rtl;
}

.rating span {
    font-size: 23px;
    color: #ffd200;
    cursor: pointer;
}

.rating>span:hover:before,
.rating>span:hover~span:before {
    content: "\2605";
    position: absolute;
}

.fh5co-counter {
    position: relative;
    margin-bottom: 122px;
    padding: 100px 0;
    background-image: url("../images/book-bckg.jpg");
    background-size: cover;
    background-position: center;
}

.fh5co-counter::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5830FF;
    opacity: 0.9;
}

.fh5co-counter .site-container {
    position: relative;
    z-index: 1;
}

@media (max-width: 850px) {
    .fh5co-counter {
        padding: 50px 0 20px;
        margin-bottom: 50px;
    }
}

.counter-inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.single-count {
    width: 23%;
    text-align: center;
    color: #fff;
}

.single-count span {
    display: block;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 900;
}

.single-count p {
    font-size: 20px;
    text-transform: uppercase;
}

@media (max-width: 850px) {
    .single-count {
        width: 48%;
        margin-bottom: 30px;
    }
    .single-count .count {
        font-size: 35px;
        margin-bottom: 15px;
    }
}

@media (max-width: 500px) {
    .single-count {
        width: 100%;
        padding-bottom: 10px;
        border-bottom: 1px solid #fff;
    }
}

.single-count__text {
    display: flex;
    justify-content: center;
}

.single-count__text img {
    margin-right: 20px;
}

.fh5co-blog {
    margin-bottom: 175px;
}

.fh5co-blog .universal-h2 {
    margin-bottom: 55px;
    padding-bottom: 20px;
}

@media (max-width: 620px) {
    .fh5co-blog {
        margin-bottom: 105px;
    }
}

.blog-inner {
    display: flex;
    justify-content: space-between;
}

.blog-slider .slick-slide {
    margin: 0 15px;
}

.blog-slider .slick-list {
    margin: 0 -15px;
}

.single-blog {
    display: flex !important;
}

.single-blog .single-blog__img {
    width: 50%;
    font-size: 0;
}

.single-blog .single-blog__text {
    width: 50%;
    padding: 7%;
    border: 3px solid #f5f5f5;
    border-left: 0;
}

.single-blog .single-blog__text h4 {
    margin-bottom: 5px;
    font-size: 24px;
    line-height: 33px;
}

.single-blog .single-blog__text span {
    display: block;
    margin-bottom: 15px;
    font-size: 14px;
    color: #5830FF;
    font-family: "Calisto-MT-Bold";
}

.single-blog .single-blog__text p {
    color: #777;
    line-height: 21px;
}

@media (max-width: 992px) {
    .single-blog .single-blog__text {
        padding: 5%;
    }
    .single-blog .single-blog__text h4 {
        margin-bottom: 3px;
        font-size: 20px;
        line-height: 24px;
    }
    .single-blog .single-blog__text p {
        font-size: 14px;
        line-height: 19px;
    }
}

@media (max-width: 420px) {
    .single-blog .single-blog__text {
        padding: 3%;
    }
    .single-blog .single-blog__text h4 {
        font-size: 16px;
    }
    .single-blog .single-blog__text span {
        margin-bottom: 7px;
        font-size: 12px;
    }
    .single-blog .single-blog__text p {
        font-size: 13px;
        line-height: 16px;
    }
}

.single-blog:nth-child(even) h4 {
    color: #5830FF;
}

@media (max-width: 1250px) {
    .single-blog .single-blog__img img {
        width: 100%;
        height: 100%;
    }
}

.blog-slider {
    position: relative;
}

.blog-slider .slick-arrow {
    position: absolute;
    bottom: -22%;
}

.blog-slider .slick-prev {
    left: 45.5%;
}

@media (max-width: 1250px) {
    .blog-slider .slick-prev {
        left: 40%;
    }
}

@media (max-width: 520px) {
    .blog-slider .slick-prev {
        left: 35%;
    }
}

.blog-slider .slick-next {
    right: 45.5%;
}

@media (max-width: 1250px) {
    .blog-slider .slick-next {
        right: 40%;
    }
}

@media (max-width: 520px) {
    .blog-slider .slick-next {
        right: 35%;
    }
}

.blog-slider .span-arrow:hover {
    color: #777;
    border-color: #777;
}

.fh5co-quotes {
    position: relative;
    padding: 135px 0 172px;
    text-align: center;
    background-image: url("../images/quotes-bckg.jpg");
    background-position: center;
    background-size: cover;
}

.fh5co-quotes::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.9;
}

.fh5co-quotes .site-container {
    position: relative;
    z-index: 1;
}

.fh5co-quotes .universal-h2 {
    padding-bottom: 20px;
    margin-bottom: 30px;
    color: #fff !important;
}

.fh5co-quotes p {
    width: 43%;
    margin: 0 auto 45px;
    color: #fff;
    line-height: 24px;
}

@media (max-width: 620px) {
    .fh5co-quotes p {
        font-size: 14px;
        line-height: 19px;
    }
}

.fh5co-quotes img {
    margin: 0 auto 5px;
}

.fh5co-quotes h4 {
    margin-bottom: 5px;
    font-size: 25px;
    color: #5830FF;
}

.fh5co-quotes .slick-arrow {
    bottom: -8%;
}

.fh5co-quotes .slick-prev {
    left: 45.5%;
}

@media (max-width: 1150px) {
    .fh5co-quotes .slick-prev {
        left: 34%;
    }
}

.fh5co-quotes .slick-next {
    right: 45.5%;
}

@media (max-width: 1150px) {
    .fh5co-quotes .slick-next {
        right: 34%;
    }
}

@media (max-width: 1150px) {
    .fh5co-quotes {
        padding: 75px 0 95px;
    }
    .fh5co-quotes p {
        width: 90%;
    }
}

.fh5co-social {
    position: relative;
    padding: 63px 0;
    background-image: url("../images/social-bckg.jpg");
    background-size: cover;
    background-position: center;
}

.fh5co-social::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #5830FF;
    opacity: 0.9;
}

.fh5co-social .site-container {
    position: relative;
    z-index: 1;
}

@media (max-width: 620px) {
    .fh5co-social {
        padding: 40px 0;
    }
}

.social {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.social h5 {
    font-size: 24px;
    color: #fff;
}

@media (max-width: 620px) {
    .social {
        flex-direction: column;
    }
}

.social-icons a {
    position: relative;
    border: 1px solid white;
    border-radius: 50%;
    padding: 13px 23px;
    margin-right: 10px;
    transition: 0.3s ease;
}

.social-icons a:hover {
    background-color: #777;
    border-color: transparent;
}

.social-icons img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.site-footer {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

@media (max-width: 800px) {
    .social-icons {
        margin: 35px 0;
    }
    .footer-info {
        margin: 40px auto !important;
    }
}

.site-footer {
    height: auto;
    background-color: transparent;
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    padding-bottom: 95px;
}

.footer-inner h5 {
    margin-bottom: 30px;
    font-size: 20px;
    letter-spacing: 2px;
    color: #fff;
}

@media (max-width: 1250px) {
    .footer-inner {
        padding-bottom: 50px;
        flex-direction: column;
        align-items: center;
    }
}

.footer-info {
    width: 50%;
    display: flex;
    margin: 40px;
}

.footer-info .footer-info__left {
    margin-right: 45px;
}

.footer-info .footer-info__left img {
    margin-bottom: 10px;
}

.footer-info .footer-info__left p {
    color: #5830FF;
}

@media (max-width: 620px) {
    .footer-info .footer-info__left {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.footer-info .footer-info__right p {
    margin-bottom: 15px;
    color: #aaa;
}

.footer-info .footer-info__right .footer-phone {
    font-size: 14px;
}

.footer-info .footer-info__right .social-icons {
    margin-top: 27px;
}

.footer-info .footer-info__right .social-icons a {
    padding: 9px 19px;
}

@media (max-width: 1250px) {
    .footer-info {
        width: 100%;
        margin-bottom: 20px;
    }
}

@media (max-width: 620px) {
    .footer-info {
        flex-direction: column;
        align-items: center;
    }
}

.footer-contact-form {
    width: 50%;
}

.footer-contact-form .contact-form__input {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.footer-contact-form .contact-form__input input {
    width: 40%;
    padding: 20px;
    border: 1px solid #404040;
    background-color: transparent;
    color: #5830FF;
}

.footer-contact-form .contact-form__input input::placeholder {
    color: #aaa;
}

@media (max-width: 1250px) {
    .footer-contact-form .contact-form__input input {
        width: 45%;
    }
}

@media (max-width: 520px) {
    .footer-contact-form .contact-form__input input {
        width: 100%;
    }
}

.footer-contact-form textarea {
    box-sizing: border-box;
    height: 90px;
    width: 100%;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid #404040;
    background-color: #282828;
    resize: none;
    color: #5830FF;
}

.footer-contact-form .submit-button {
    padding: 19px 50px;
    text-transform: uppercase;
    font-size: 12px;
    color: #fff;
    background-color: #5830FF;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s ease;
}

.footer-contact-form .submit-button:hover {
    background-color: #777;
}

@media (max-width: 1250px) {
    .footer-contact-form {
        width: 100%;
    }
}

.footer-bottom {
    padding: 10px 0;
    background-color: #000;
}

.footer-bottom-inner {
    display: flex;
    justify-content: center;
}

.footer-bottom-inner p {
    color: #777;
}

.footer-bottom-inner a {
    color: #5830FF;
    text-decoration: none;
    transition: 0.3s ease;
}

.footer-bottom-inner a:hover {
    color: #777;
}

.footer-bottom-inner .footer-bottom__img img {
    margin-right: 25px;
}

.footer-bottom-inner .footer-bottom__img img:last-child {
    margin-right: 0;
}

@media (max-width: 992px) {
    .footer-bottom-inner {
        flex-direction: column;
        align-items: center;
    }
    .footer-bottom-inner p {
        font-size: 14px;
        margin-bottom: 20px;
    }
}


/*PAGINA PORTAFOLIO*/

.title-porta {
    font-size: 180px !important;
}

.fh5co-top-banner {
    -webkit-box-shadow: inset 0px -177px 139px -65px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px -177px 139px -65px rgba(0, 0, 0, 1);
    box-shadow: inset 0px -177px 139px -65px rgba(0, 0, 0, 1);
}

#portafolio-items {
    -webkit-box-shadow: inset 0px 200px 118px -32px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 200px 118px -32px rgba(0, 0, 0, 1);
    box-shadow: inset 0px 200px 118px -32px rgba(0, 0, 0, 1);
}

.top-banner_porta {
    width: auto !important;
    height: auto !important;
}

.banner-porta {
    flex-direction: column;
}

.btn-inicio {
    width: 130px;
    color: #fff !important;
}

.btn-inicio:hover {
    color: #000 !important;
    transition: 0.7s;
}


/* CADA ITEM DEL PORTAFOLIO*/

.item-porta {
    font-family: 'Prompt-Bold';
    background-color: white;
    display: inline-flex;
    margin-bottom: 25px;
    -webkit-box-shadow: 34px 38px 26px -42px rgba(0, 0, 0, 1);
    -moz-box-shadow: 34px 38px 26px -42px rgba(0, 0, 0, 1);
    box-shadow: 34px 38px 26px -42px rgba(0, 0, 0, 1);
}

.item-porta .text-item-porta {
    font-family: 'Prompt-Regular';
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 2;
}

.item-porta .img-item-porta {
    z-index: 1;
}

.item-porta .text-item-porta>h4 {
    font-family: 'Prompt-Bold';
    color: #000;
    text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
    font-size: 110px;
    font-weight: bold;
    white-space: nowrap;
}

.item-porta .text-item-porta>p {
    font-family: 'Prompt-Regular';
    font-size: 15px;
    font-weight: 300;
    text-align: justify;
    width: 80%;
    margin: auto;
}

.item-porta .text-item-porta>p>strong {
    font-weight: bold;
}

.item-porta>div>img {
    padding: 10px;
    width: 100% !important;
}

.btn-item-porta {
    font-family: 'Prompt-Regular';
    display: block;
    position: relative;
    border: 2px solid #000;
    color: #000;
    padding: 15px;
    width: 30%;
    text-align: center;
    margin: 35px auto;
    -webkit-box-shadow: -1px 17px 24px -20px rgba(0, 0, 0, 1);
    -moz-box-shadow: -1px 17px 24px -20px rgba(0, 0, 0, 1);
    box-shadow: -1px 17px 24px -20px rgba(0, 0, 0, 1);
}

.btn-item-porta:hover {
    text-decoration: none;
    color: #fff;
    background-color: #000;
    transition: 0.5s;
}

.container-item-porta {
    display: inline-flex !important;
    margin: 20px;
    width: 100%;
}

.languages-skills {
    margin: 15px auto;
}

.languages-skills span {
    background-color: #aaa;
    color: #FFF;
    padding: 2px;
    border-radius: 2px;
}